<% const d = new Date(); let year = d.getFullYear() %>

<footer>
  <p class="copyright">&copy; <%= new Date().getFullYear() %>, CSE Motors</p>
  <a href="/error/trigger-error" class="error-link">Test 500 Error</a>
</footer>